@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Angella White';
    src: url('../public/font/Angella\ White.otf');
}

.notFound{
    display: none;
}

.container{
    max-width: 100vw;
    overflow: hidden;
}

h1{
    margin: auto;
    margin-left: 0;
    text-align: center;
}

h1 img{
    margin: auto;
    width: 100%;
}

body{
    background: #fdf9ee;
    font-family: "Marcellus", serif;
}

header{
    height: 80vh;
    width: 100vw;
}

header .imageBanner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageBanner img{
    width: 100%;
    margin-top: 10vh;
}

main{
    width: 100vw;
    margin-top: 10vh;
}

main .lillyImage{
    width: 100vw;
}

.lillyImage img{
    width: 50%;
    margin-top: 10vh;
}

main .texts{
    font-family: "Marcellus", serif;
    font-size: 3.5vw;
    text-align: center;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.texts .paragraths{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 90%;
}

footer{
    width: 100vw;
    margin-top: 80px;
    margin-bottom: 60px;
}

footer .icons{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.icons .icon_image{
    font-size: 3.5vw;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 36px;
}

.divIcons{
    text-align: center;
}

.icon_image p{
    width: 80px;
    margin-left: -20px;
}

#presentIcon{
    width: 35px; 
}

a{
    text-decoration: none;
    color: black;
}

.icon_image img{
    width: 100%;
}

@media(min-width: 500px){
    .container{
        display: none;
    }
    
    .notFound{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 2vw;
    }
}